/* leaders menu */
.main-leader-select {
  display: flex;
  justify-content: center;
}

.main-selection {
  display: flex;
  flex-wrap: wrap;
  max-height: 710px;
  overflow-y: auto;
  background-color: black;
  max-width: 70%;
  padding: 0%;
}
